
/* 中等和大屏幕：针对较大的屏幕（台式机、笔记本电脑）进行样式设置 */
@media screen and (min-width: 992px) {
  body{
    width: 100vw;
  }
  .navBox {
    height: 105px;
    display: flex;
  }

  .nav1 {
    height: 100%;
    width: 75vw;
    background-color: #510c4a;
  }

  .nav2 {
    height: 100%;
    width: 25vw;
    background-color: #510c4a;
  }
.search {
  height: 100%;
  display: flex;
  align-items: center;outline: 0;
  margin-left: 15px;

}

.searchBar {
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  background-color: #fff;
  transition: width 0.4s;
  width: 60px;
  display: flex;
  align-items: center;
}

.searchBar:hover {
  width: 230px;
}
.ser_a img{
  width: 25px;
  object-fit: contain;
}
.searchBar .ser_a {
  color: blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.ser_a:focus{
  outline: 0;
}
.searchBar:hover .searInput {
  width: 150px;
  padding: 0 6px;
}

.searInput {
  border: 0;
  background: 0;
  outline: 0;
  width: 0;
  padding: 0;
  transition: .4s;
  line-height: 40px;
  font-size: 20px;caret-color: black;
}
.searInput::placeholder{
  color: grey;
  font-size: smaller;
}
.folder{
display: none;
}
}




/* 中屏幕：针对中等尺寸的移动设备（平板电脑）进行样式设置。 */
@media screen and (min-width: 768px) and (max-width: 991px) {


                .navBox {
                  height: 260px;
                  width: 100vw;
                }
        
                .nav1 {
                  height: 65%;
                  width: 100vw;
background-color: #7e1174;
                }
        
                .nav2 {
                  height: 35%;
                  width: 100vw;
                  background-color: #510c4a;
          
                }
        
                .search {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  outline: 0;
                  margin-left: 15px;
                }
        
                .searchBar {
                  height: 40px;
                  border-radius: 40px;
                  padding: 10px;
                  background-color: #fff;
                  transition: width 0.4s;
                  width: 230px;
                  display: flex;
                  align-items: center;
                }
        
        
                .ser_a img {
                  width: 25px;
                  object-fit: contain;
                }
        
                .searchBar .ser_a {
                  color: blue;
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: .4s;
                }
        
                .ser_a:focus {
                  outline: 0;
                }
        
        
                .searInput {
                  border: 0;
                  background: 0;
                  outline: 0;
                    width: 150px;
                      padding: 0 6px;
                  transition: .4s;
                  line-height: 40px;
                  font-size: 20px;
                  caret-color: black;
                }
        
                .searInput::placeholder {
                  color: grey;
                  font-size: smaller;
                }
                                .folder {
                                  height: 60px;
                                  width: 150px;
                                 position: absolute;
                                 right: 20px;
                                 display: flex;
                                 align-items: center;
                                 /* background-color: #a249d6; */
                                 font-size: 2rem;
                                 color: #eeeeee;
                                 cursor: pointer;
                                }
                                .folder img{
                                height: 30%;
                              width: 35px;
                                  margin-left: 20px;
                                  margin-top:6px;
                                }
}

/* 针对较小的移动设备（手机）进行样式设置 */
@media screen and (max-width: 767px) {
 .navBox {
            height: 120px;
          }
  
          .nav1 {
            height: 52%;
            width: 100vw;
background-color: #7e1174;
          }
  
          .nav2 {
            height: 48%;
            width: 100vw;
            background-color: #510c4a;
          }
  
                                                    .search {
                                                      height: 100%;
                                                      display: flex;
                                                      align-items: center;
                                                      outline: 0;
                                                      margin-left: 20px;
                                                    }
                          
                                                    .searchBar {
                                                      height: 30px;
                                                      border-radius: 40px;
                                                      padding: 10px;
                                                      background-color: #fff;
                                                      transition: width 0.4s;
                                                      width: 190px;
                                                      display: flex;
                                                      align-items: center;
                                                    }
                          
                          
                                                    .ser_a img {
                                                      width: 15px;
                                                      object-fit: contain;
                                                    }
                          
                                                    .searchBar .ser_a {
                                                      color: blue;
                                                      width: 40px;
                                                      height: 40px;
                                                      border-radius: 50%;
                                                      display: flex;
                                                      justify-content: center;
                                                      align-items: center;
                                                      transition: .4s;
                                                    }
                          
                                                    .ser_a:focus {
                                                      outline: 0;
                                                    }
                          
                          
                                                    .searInput {
                                                      border: 0;
                                                      background: 0;
                                                      outline: 0;
                                                      width: 150px;
                                                      padding: 0 6px;
                                                      transition: .4s;
                                                      line-height: 30px;
                                                      font-size: 16px;
                                                      caret-color: black;
                                                    }
                          
                                                    .searInput::placeholder {
                                                      color: grey;
                                                      font-size: smaller;
                                                    }
  
          .folder {
            height: 60px;
            width: 150px;
            position: absolute;
            right: 0px;
            display: flex;
            align-items: center;
            /* background-color: #a249d6; */
            font-size: 1.2rem;
            color: #eeeeee;
            cursor: pointer;
          }
  .folder div{
    position: absolute;
    left: 60px;
  }
          .folder img {
            height: 25%;
            width: 25px;
            margin-left: 2px;
            margin-top: 5px;
            position: absolute;
            right: 15px;
          }
}